[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=3.0,<4.0"
djangorestframework = "==3.12.4"
automium-web = "*"

[dev-packages]

[requires]
python_version = "3.8"
